body{
  margin: 0px;
}
.container{
  width: 1200px;
  margin: 0 auto;
}
header{ 
  height: 50px ;
  text-align: center;
  margin: 0 auto;
  padding-top: 30px;
  background: slategray;
}
.mr{
  padding: 0px 10px;
}
hr{
  border: none;
  height: 1px;
  background-color: gray;
  background-image: linear-gradient(to right, gray, white);
}
.pd{
  border: rgb(105, 104, 104) 1px solid;
  border-radius: 5px;
}
h3 a{
  text-decoration: none;
  color: rgb(36, 35, 36);
}
p{
  color: rgb(49, 48, 48);
}
section#sec2 #tinmoi{
  display: grid;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  grid-template-columns: auto auto auto;
}
section#sec1{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 50% auto auto;
  height: 450px;
  margin: 5px 0;
}
section#sec1 > div{
  display: flex;
  align-items: center;
  justify-content: center;
}
section#sec1 #col1{
  grid-row-start: 1;
  grid-row-end: 3;
  background: darkseagreen;
}
section#sec1 #col2{
  grid-column-start: 2;
  grid-column-end: 4;
  background: darkturquoise; 
}
section#sec1 #col3{
  background: darkorchid;
}
section#sec1 #col4{
  background: darkkhaki;
}
section#sec2{
  display: grid;
  grid-template-columns: auto 300px;
  min-height: 500px;
}
section#sec2 > aside { background: indianred;}
section#sec2 > article { background: lightgrey; }
footer { background: bisque; height: 60px;}
